# Aliases

# List all files and directories
# alias ls="ls -al"
alias ls="eza -lh --group-directories-first"
alias lsa="ls -a"
alias lt="eza --tree --level=2 --long --git"
alias lta="lt -a"

# Easier cd
alias cd="zd"
zd() {
  if [ $# -eq 0 ]; then
    builtin cd ~ && return
  elif [ -d "$1" ]; then
    builtin cd "$1"
  else
    z "$@" || echo "Error: Directory not found"
  fi
}

# Get ip address
alias ip="ipconfig getifaddr en0"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
